<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- pageData.title %></title>
    <link rel="stylesheet" href="/bundles/<%- gVars['main'][0] -%>" />
    <link rel="icon" href="/images/favicon-150x150.png" sizes="32x32" />
    <link rel="icon" href="/images/favicon-300x300.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="/images/favicon-300x300.png" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.0.0/css/all.css"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/090ca49637.js"
      crossorigin="anonymous"
    ></script>
    <script src="/vendor/gt.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.__G_DATA = <%- serialize({ GwwConfig, GwwState, ssrData }, { isJSON: true }); %>
    </script>
  </head>
  <body>
    <div id="root"><%- initialMarkup -%></div>
    <script src="/bundles/<%- gVars['vendor'] -%>" type="text/javascript"></script>
    <script src="/bundles/<%- gVars['main'][1] -%>" type="text/javascript"></script>
  </body>
</html>
